.main__container{
    width: 80vw;
    display: flex;
    flex-direction: row-reverse;
    margin: 130px auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
}
.container__img{
  background-color: $background-color-image;
  display: flex;
  justify-content: center;
  align-items:center ;
  width: 50%;
}
.img{
  width:70%;
}