$default-border-color: #DBDBDB;
$hover-border-color: #B5B5B5;
$focus-border-color: #3273DC;
$invalid-border-color: #FF0000;
$valid-border-color: #00D1B2;
$alto: 40px;

$tamaño: 37px;
$espaciado: 40px;

//buton//

$background-color: #00D1B2;
$hover-background-color:#00c487;
$active-background-color: #00B89C;
$altura: 40px;

$background-color-image: #EBD0D3;
$link-color: #3273DC;
$link-color-hover:#363636;